@import 'antd/dist/antd.css';
@import 'react-grid-layout/css/styles.css';


.remove{
  position: absolute;
  right: 0px;
  top: -5px;
  cursor: pointer;
  z-index: 999;
  display:none;
  font-size:20px;
}

.myid{
  font-size:20px;
  position: absolute;
  left: -10px;
  top: -5px;
  color: red;
  cursor: pointer;
  z-index: 9999;
  display:none;
}

.react-grid-item:hover .myid{
  display:inline-block;
}
.script{
  font-size:20px;
  position: absolute;
  right: 18px;
  top: -5px;
  color: red;
  cursor: pointer;
  z-index: 999;
  display:none;
}

.react-grid-item:hover .script{
  display:inline-block;
}
.react-grid-item{
  /* border: 1px solid #ececec; */
  padding: 5px;
}

.react-grid-item:hover .remove{
  display:inline-block;
}

.react-resizable-handle{
  visibility: hidden;
}

.react-grid-item:hover .react-resizable-handle{
  visibility: visible;
}
.layout  {
  background-color: #fff;
}

.empty_space{
  width: 200px;
  height: 70px;
  padding:1em;
  border: 1em solid transparent;
  background: linear-gradient(white,white) padding-box,repeating-linear-gradient(-45deg, gray 0, gray 12.5%, transparent 0, transparent 25%, #58a 0, #58a 37.5%, transparent 0, transparent 50%) 0/4em 4em; 
}
